.wrapper {
	background-color: #A9A9A9;
	position:fixed;
	left:0;
	bottom:0;
	width: 100%;
	height: 80px;
	line-height: 80px;
}

.authors {
	display: flex;
	justify-content: center;
}

.author {
	margin: 0 15px;
	font-weight: bold;
	font-size: 15pt;
}