.indexButton {
	width: 300px;
	height: 60px;
	line-height: 60px;
	color: #494949 !important;
	text-transform: uppercase;
	text-decoration: none;
	background: rgba(192,192,192, 0.5);
	padding: 20px;
	border: 4px solid #494949 !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
	font-size: 18pt;
	font-weight: bold;
}

.indexButton:hover {
	color: #ffffff !important;
	background: #6495ED;
	border-color: #6495ED !important;
	transition: all 0.4s ease 0s;
	cursor:pointer;
}

.indexButtonDiv {
	text-align:center;
	padding: 30px;
}